:root {
    --ills-purple: #dac9e2;
    --backgroud4: #ececf1;
    --font-gray: #7c6c63;
    --title-pink2: #f0bebd;
    --title-dark1: #061d20;
    --starry-blue1: #102b4e;
    --stat-yellow1: #edc4a2;
}