table {
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: center;
    height: 60px;
    overflow: hidden;
}

.header {
    height: 100vh;
}

.wrap-header {
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.wrap-header ul {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.wrap-header ul li {
    margin-right: 10px;
}

.header-item {
    color: var(--font-gray);
    font-weight: 900;
}

.titlebar {
    background-color: var(--starry-blue1);
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titlebar .main-title {
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 10px;
}

.titlebar .sub-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.titlebar .go {
    position: absolute;
    top: 80%;
    left: 80%;
    font-weight: 600;
}

.toolbar {
    width: 100%;
    height: 60px;
    padding: 15px;
    
}

.toolbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.toolbar::after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--stat-yellow1);
    top: 5px;
}

.toolbar .tbar {
    font-weight: 900;
    color: var(--font-gray);
    height: 100%;
    width: 100px;
    text-align: center;
}

.toolbar .tbar:hover {
    background-color: var(--title-pink2);
    border-radius: 20px;

}





.container {
    display: flex;
    position: relative;
    padding: 10px;
    gap: 10px;
}

.sidebar {
    flex: 1;
    border-radius: 20px;
    background-color: var(--backgroud4);
    min-height: 100vh;
    color: var(--font-gray);
}

.wrap-sbar2{
    padding-left: 20%;
    padding-bottom: 20px;
    overflow: hidden;
}

.sbar {
    padding: 20px;
    font-size: 20px;
}

.andor{
    display: flex;
    gap: 5px;
}

.option {
    display: flex;
    
}

.space{
    width: 10%;
}

.block {
    flex: 5;

}

.wrap-sbar-content, .wrap-options {
    display: none;
}