table {
    width: 100%;
    table-layout: fixed;
}

tbody {
    color: var(--starry-blue2);
}

thead tr {
    border-bottom: 3px solid var(--stat-yellow1);
    
}

tbody tr {
    border-bottom: 1px solid var(--stat-yellow1);
}

th, td {
    text-align: center;
    height: 60px;
    overflow: hidden;
}

td a {
    display: block;
}

th:hover, td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.toolbar {
    width: 100%;
    height: 60px;
    padding: 15px;
    margin-top: 10px;
}

.toolbar ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.toolbar::after {
    position: relative;
    display: block;
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--stat-yellow1);
    top: 5px;
}

.toolbar .toolbar-item {
    font-weight: 900;
    color: var(--font-brown3);
    height: 100%;
    width: 100px;
    text-align: center;
}

.toolbar .toolbar-item:hover {
    background-color: var(--title-pink2);
    border-radius: 20px;

}





.container {
    display: flex;
    position: relative;
    padding: 10px;
    gap: 10px;
    /* background-color: var(--background-yellow); */
}

.sidebar {
    flex: 1;
    border-radius: 20px;
    background-color: var(--ills-purple);
    min-height: 100vh;
    color: var(--font-brown3);
}

.wrap-sbar {
    padding-left: 15%;
}

.wrap-sbar2{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    font-weight: 600;
    
}

.sbar {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}

.sbar2 {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.wrap-options {
    padding-top: 10px;
    padding-left: 10px;
}

.andor{
    display: flex;
    gap: 5px;
}

.option {
    display: flex;
    padding-bottom: 3px;
}

.space{
    width: 10%;
}

.block {
    flex: 5;
}

.sort {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#plan-block {
    display: none;
}

.wrap-sbar-content, .wrap-options {
    display: none;
}

.go {
    position: relative;
    width: 100px;
    height: 25px;
    left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--starry-blue1);
    color: #fff;
    border-radius: 15px;
}

.go:hover {
    background-color: var(--sky-purple1);
}

.hover {
    width: 70px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover:hover, .sbar2:hover, .sort:hover {
    background-color: var(--background1);
    cursor: pointer;
}

#temp {
    position: fixed;
    top: 0;
    left: 200px;
    width: 800px;
    height: 700px;
    z-index: 3;
    background-color: #fff;
}