.titlebar {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    background-color: var(--ills1-orange1);
    color: #fff;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    
}

.item {
    width: 100%;
    min-height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--starry-blue2);
}

.item .title {
    font-size: 20px;
    font-weight: 900;
    color: var(--font-brown3);
    width: 30%;

}

.item .wrap-options {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.option {
    padding: 5px;
    width: 95px;
    overflow: hidden;
}

.btn {
    font-size: 20px;
    width: 80px;
    height: 40px;
    background-color: var(--chat-beige2);
    color: var(--chat-wood1);
    font-weight: 900;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    border: none !important;
}

.btn:hover {
    background-color: var(--chat-tea3);
    cursor: pointer;
}